<div class="row">
  <header class="col-md-12">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Angular Mock Back End</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>
</div>


<section class="salesTable">
  <div class="row">
    <div class="col-md-12">
      <form #f="ngForm">
        <div class="form-group">
          <input [(ngModel)]="myTask" name="myTask" type="text" class="form-control" placeholder="Enter Task" required>
        </div>

        <p *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i>
        </p>

        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!f.valid" (click)="create()">
            Save Task
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <th>#</th>
          <th>OrderNo.</th>
          <th>Quantity</th>
          <th>PricePerPiece</th>
          <th>Product Line</th>
        </tr>
        <tr *ngFor="let task of tasks | paginate: { itemsPerPage: 10, currentPage: currentPaginationPage }">
          <td>{{task.id}}</td>
          <ng-container *ngIf="!task.editing">
            <td>{{task.OrderNumber}}</td>
            <td>{{task.Quantity}}</td>
            <td>{{task['Price Per Piece']}}</td>
            <td>{{task['PRODUCTLINE']}}</td>
          </ng-container>
          <ng-container *ngIf="task.editing">
              <td>
                <div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="taskEdit['OrderNumber']" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-warning" (click)="saveEdit(task)">
                      Save
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="taskEdit['Quantity']" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-warning" (click)="saveEdit(task)">
                      Save
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="taskEdit['Price Per Piece']" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-warning" (click)="saveEdit(task)">
                      Save
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="taskEdit['PRODUCTLINE']" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-warning" (click)="saveEdit(task)">
                      Save
                    </button>
                  </div>
                </div>
              </td>
          </ng-container>
          <td>
            <button class="btn btn-success" [disabled]="editMode" (click)="edit(task)">
              Edit
            </button>

            <button class="btn btn-danger" [disabled]="editMode" (click)="delete(task)">
              Delete
            </button>
          </td>
        </tr>
      </table>

      <pagination-controls (pageChange)="pageChanged($event)" maxSize="7" directionLinks="true" autoHide="false"
        responsive="true" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
  </div>
</section>